# Ignore Python source files
*.py

# Exception: Allow app.py for Streamlit deployment
!app.py

# Python compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
bin/
share/
lib/
pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.log

# Large model files (GitHub limit 100MB)
*.joblib

# Keep these (outputs we want to push)
!requirements.txt
